
<title>@ViewBag.PageTitle</title>

<h3 class="app-name">G~S Animal <br> <span>Shelter</span></h3>
<p class="tag-line">We offer the best care to our <b>animals</b></p>
<br> <br>
    <button >@Html.ActionLink("Show all Animal Types", "Index", "Animals")</button>
    <br />
    <br />
    <button >@Html.ActionLink("Add new animal", "Create", "Animals")</button>
    <br />



<style>
    .app-name{
        /* color: rgba(255, 138, 102, 0.4); */
        color: #fff;
        margin-block-start: 3.0rem;
        font-size: 7.0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .app-name span{
        color: #CCC;
    }

    *{
        text-decoration: none;

    }

    button{
        background: rgb(96, 96, 202);
        padding: 10px 20px;
        color: white;
        font-size: 1.2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .tag-line{
        color: #fff;
        font-size: 1.5rem;
        margin-block-start: -7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .links{
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        padding: 10px 20px;
    }
    .link:hover{
        background: rgba(69, 2, 69, 0.4);;
    }

    body{
        background-color: orange;
        /* display: flex; */
        text-align: center;
    }

    div#footer {
        position:fixed;
        bottom:0px;
        left:0px;
        width:100%;
        color:#CCC;
        background:#333;
        padding:8px;
    }
</style>
