@using AnimalShelter.Models;

<title>List of Animals</title>
<h3 class="app-name">Here is a list of all the animals in our Shelter</h3>




<style>
    .app-name{
        /* color: rgba(255, 138, 102, 0.4); */
        color: #fff;
        margin-block-start: 3.0rem;
        font-size: 2.0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .app-name span{
        color: #CCC;
    }

    .tag-line{
        color: #fff;
        font-size: 1.5rem;
        margin-block-start: -7rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .link{
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
        padding: 10px 20px;
        background: #f6f6;
    }
    .link:hover{
        background: rgba(69, 2, 69, 0.4);;
    }

    body{
        background-color: orange;
        /* display: flex; */
        text-align: center;
    }

    
</style>
